@charset "UTF-8";
/* Initial Stuff */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.woff2") format("woff2"), url("/assets/fonts/SourceSansProRegular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("/assets/fonts/SourceSansPro-Bold.woff2") format("woff2"), url("/assets/fonts/SourceSansProBold.woff") format("woff");
  font-weight: 700;
}
body {
  font-family: "Source Sans Pro Regular", sans-serif;
  overflow-x: hidden;
}

.page-wrapper {
  width: 100%;
}
@media (min-width: 1401px) {
  .page-wrapper {
    margin: 0 auto;
    width: 1400px;
  }
}

.btn {
  border-radius: 30px;
  background: transparent;
  text-decoration: none;
  padding: 15px 60px;
  font-size: 18px;
  display: inline-block;
}
.btn-link {
  padding: 0;
  margin: 0;
  position: relative;
  color: blue;
}
.btn-link:after {
  content: "›";
  font-size: 30px;
  color: #0056ba;
  position: absolute;
  top: -8px;
  right: -15px;
}
.btn-signup {
  border: 1px solid #111111;
  color: black;
  padding: 15px 95px;
}
@media (min-width: 768px) {
  .btn-signup {
    padding: 15px 120px;
  }
}
.btn-btt {
  font-family: sans-serif;
  color: white;
  padding: 2px 0 0 0;
  border-radius: 0;
  border-top: 1px solid white;
}
.btn-close {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 48px;
  right: 40px;
  font-size: 14px;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: Georgia;
}

.section--hero h1,
.section--ctas h2 {
  margin-bottom: 12px;
}
.section--hero h1,
.section--ctas h2 {
  font-size: 44px;
}
@media screen and (min-width: 320px) {
  .section--hero h1,
.section--ctas h2 {
    font-size: calc(44px + 25 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .section--hero h1,
.section--ctas h2 {
    font-size: 69px;
  }
}

.section--hero p,
.section--ctas p {
  line-height: 27px;
  margin-bottom: 40px;
}
.section--hero p,
.section--ctas p {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .section--hero p,
.section--ctas p {
    font-size: calc(18px + 5 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .section--hero p,
.section--ctas p {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  .section--hero p,
.section--ctas p {
    line-height: 35px;
  }
}

form .form__field-wrapper {
  margin-bottom: 15px;
  display: block;
}
form .form__field-wrapper--email input {
  width: 90%;
}
@media (min-width: 768px) {
  form .form__field-wrapper--email input {
    width: 80%;
  }
}
form .form__field-wrapper--dob {
  margin-bottom: 40px;
}
form .form__field-wrapper--dob input {
  width: 90%;
  background-image: url(/assets/images/calendar.svg);
  background-position: right 10px top 12px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  form .form__field-wrapper--dob input {
    width: 40%;
  }
}
form label {
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 400;
  display: block;
}
form input {
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  padding: 20px;
}

/* Page Elements */
.section--header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 768px) {
  .section--header {
    margin-bottom: 40px;
  }
}
.section--header img {
  width: 195px;
}
@media (min-width: 992px) {
  .section--header img {
    width: 235px;
    margin-right: 80px;
  }
}
.section--header__default-menu {
  width: 70%;
}
.section--header__default-menu nav {
  display: none;
  height: 100%;
}
@media (min-width: 953px) {
  .section--header__default-menu nav {
    display: block;
  }
}
.section--header__default-menu nav ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
}
.section--header__default-menu nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 0;
}
.section--header__default-menu nav ul a {
  color: black;
  text-decoration: none;
}
.section--header__popout-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: black;
  width: 375px;
  padding: 60px 50px 0 150px;
  display: none;
}
.section--header__popout-menu nav ul li {
  display: block;
}
.section--header__popout-menu nav ul li:first-child {
  margin-bottom: 100px;
  font-size: 18px;
}
.section--header__popout-menu nav ul li:not(:first-child) {
  font-family: Georgia;
  font-size: 35px;
  margin-bottom: 18px;
}
.section--header__popout-menu nav ul li a {
  color: white;
  text-decoration: none;
}
.section--header__menu-text {
  padding: 40px 0;
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
  border-left: 1px solid #ccc;
  line-height: 52px;
  max-width: 88px;
  min-width: 88px;
  margin-left: auto;
}
.section--header__menu-text:hover {
  cursor: pointer;
}
.section--header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.section--hero {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.897)), url("/assets/images/photo-hero-desktop.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 622px;
  color: white;
  display: flex;
}
@media (min-width: 768px) {
  .section--hero {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .section--hero p {
    max-width: 60%;
  }
}
.section--hero .btn {
  color: white;
  border: 2px solid white;
  display: inline-block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .section--hero .btn {
    margin-bottom: 0;
  }
}
.section--hero__wrapper {
  align-self: flex-end;
  padding: 24px;
}
@media (min-width: 768px) {
  .section--hero__wrapper {
    padding: 80px 60px;
  }
}

.section--ctas {
  /* Universal specifics for all CTA columns */
}
.section--ctas .btn {
  color: black;
  border: 2px solid black;
}
.section--ctas .row {
  display: flex;
  flex-flow: column;
  padding: 24px;
}
@media (min-width: 768px) {
  .section--ctas .row {
    height: 614px;
    flex-flow: row;
    margin-bottom: 30px;
  }
}
.section--ctas .row--one .col--one {
  background-image: url("/assets/images/photo-8.jpg");
  background-position: center;
  background-size: cover;
  min-height: 366px;
}
.section--ctas .row--two {
  flex-flow: column-reverse;
}
@media (min-width: 768px) {
  .section--ctas .row--two {
    flex-flow: row;
  }
}
.section--ctas .row--two .col--two {
  background-image: url("/assets/images/photo-9.jpg");
  background-position: center;
  background-size: cover;
  min-height: 366px;
}
.section--ctas .row--three h2 {
  margin-bottom: 30px;
}
.section--ctas .row--three .col--one {
  background: #009cde;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 366px;
}
.section--ctas .row--three .col--one img {
  width: 112px;
}
.section--ctas .col--one, .section--ctas .col--two {
  width: 100%;
}
@media (min-width: 768px) {
  .section--ctas .col--one, .section--ctas .col--two {
    width: 50%;
  }
}
.section--ctas .col__wrapper {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .section--ctas .col__wrapper {
    padding: 70px;
  }
}
.section--ctas .col--center-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section--news {
  background: #f6f6f6;
  padding: 43px 24px;
}
@media (min-width: 768px) {
  .section--news {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    padding: 90px 0;
  }
}
.section--news h2 {
  padding-bottom: 50px;
}
.section--news h2 {
  font-size: 23px;
}
@media screen and (min-width: 320px) {
  .section--news h2 {
    font-size: calc(23px + 32 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .section--news h2 {
    font-size: 55px;
  }
}
.section--news .grid-item {
  flex-basis: 48.3%;
  min-height: 454px;
}
@media (min-width: 768px) {
  .section--news .grid-item {
    flex-basis: 31%;
    margin: 0 20px 50px 0;
  }
}
.section--news .grid-item:nth-child(odd) {
  margin-right: 15px;
}
.section--news .grid-item__img {
  height: 300px;
  background: #000;
  margin-bottom: 40px;
}
.section--news .grid-item__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section--news .grid-item__content {
    margin-bottom: 0;
  }
}
.section--news .grid-item__content h3 {
  font-size: 29px;
  margin-bottom: 20px;
}
.section--news .grid-item__content p {
  color: #707070;
  line-height: 21px;
  margin-bottom: 15px;
}
.section--news .grid-item__content p {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .section--news .grid-item__content p {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .section--news .grid-item__content p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .section--news .grid-item__content p {
    line-height: 27px;
  }
}
@media (min-width: 768px) {
  .section--news .grid-item:nth-child(3n+3) {
    margin-right: 0;
  }
}
.section--news__wrapper,
.section--news h2 {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .section--news__wrapper,
.section--news h2 {
    margin: 0 auto;
    width: 1400px;
  }
}

.section--footer {
  background: #000;
  color: white;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .section--footer {
    padding: 0;
  }
}
.section--footer .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .section--footer .row {
    width: 1400px;
  }
}
.section--footer .row--one {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.section--footer .row--two {
  display: block;
  padding: 30px 0 150px;
}
.section--footer .row--two p {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section--footer .row--two p {
    max-width: 40%;
  }
}
.section--footer .row--two p:last-child {
  margin-bottom: 0;
}
.section--footer hr {
  width: 100%;
  left: 0;
  border-left: 0;
  border-right: 0;
  height: 1px;
  border: none;
  color: #707070;
  background-color: #707070;
  bottom: 0;
}