.section--header {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ccc;
	@media (min-width: 768px) {
		margin-bottom: 40px;
	}
	img {
		width: 195px;
		padding-left: 30px;
		@media (min-width: 992px) {
			width: 235px;
			margin-right: 80px;
		}
	}
	&__default-menu {
		width: 70%;
		nav {
			display: none;
			height: 100%;
			@media (min-width: 1100px) {
				display: block;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				height: 100%;
				width: 75%;
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					flex: 1;
					text-align: center;
					font-size: 18px;
					padding: 0;
				}
				a {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
	&__popout-menu {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background: black;
		width: 375px;
		padding: 60px 50px 0 150px;
		display: none;
		nav {
			ul {
				li {
					display: block;
					&:first-child {
						margin-bottom: 100px;
						font-size: 18px;
					}
					&:not(:first-child) {
						font-family: Georgia;
						font-size: 35px;
						margin-bottom: 18px;
					}
					a {
						color: white;
						text-decoration: none;
					}
				}
			}
		}
	}
	&__menu-text {
		font-family: "Source Sans Pro Bold";
		padding: 40px 0;
		flex-grow: 1;
		text-align: center;
		font-weight: 700;
		border-left: 1px solid #ccc;
		line-height: 52px;
		max-width: 88px;
		min-width: 88px;
		margin-left: auto;
		&:hover {
			cursor: pointer;
		}
	}
	&__wrapper {
		max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		display: flex;
	}
}

.section--hero {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.897)), url("/assets/images/photo-hero-desktop.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 622px;
	color: white;
	display: flex;
	@media (min-width: 768px) {
		margin-bottom: 30px;
	}
	p {
		@media (min-width: 768px) {
			max-width: 60%;
		}
	}
	.btn {
		color: white;
		border: 2px solid white;
		display: inline-block;
		margin-bottom: 15px;
		@media (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	&__wrapper {
		align-self: flex-end;
		padding: 24px;
		@media (min-width: 768px) {
			padding: 80px 60px;
		}
	}
}

.section--ctas {
	/* Universal specifics for all CTA columns */
	.btn {
		color: black;
		border: 2px solid black;
	}
	p {
		@media (min-width:768px) {
			max-width: 80%;
		}
	}
	.row {
		display: flex;
		flex-flow: column;
		padding: 24px;
		@media (min-width: 768px) {
			height: 614px;
			flex-flow: row;
			margin-bottom: 30px;
			padding: 0;
		}
		&--one {
			.col--one {
				background-image: url("/assets/images/photo-8.jpg");
				background-position: center;
				background-size: cover;
				min-height: 366px;
			}
		}
		&--two {
			flex-flow: column-reverse;
			@media (min-width: 768px) {
				flex-flow: row;
			}
			.col--two {
				background-image: url("/assets/images/photo-9.jpg");
				background-position: center;
				background-size: cover;
				min-height: 366px;
			}
		}
		&--three {
			h2 {
				margin-bottom: 30px;
			}
			.col--one {
				background: #009cde;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 366px;
				img {
					width: 112px;
				}
			}
		}
	}
	.col {
		&--one,
		&--two {
			width: 100%;
			@media (min-width: 768px) {
				width: 50%;
			}
		}
		&__wrapper {
			padding-top: 100px;
			@media (min-width: 768px) {
				padding: 70px;
			}
		}
		&--center-text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
}

.section--news {
	background: #f6f6f6;
	padding: 43px 24px;
	@media (min-width: 768px) {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
	}
	@media (min-width: 1441px) {
		padding: 90px 0;
	}
	h2 {
		@include fluid-type($min_width, $max_width, 23px, 55px);
		padding-bottom: 50px;
	}
	.grid-item {
		flex-basis: 47%;
		min-height: 454px;
		@media (min-width: 489px) {
			flex-basis: 48.3%;
		}
		@media (min-width: 768px) {
			flex-basis: 31.8%;
			margin: 0 20px 50px 0;
		}
		&:nth-child(odd) {
			margin-right: 15px;
		}
		&__img {
			height: 300px;
			background: #000;
			margin-bottom: 40px;
		}
		&__content {
			margin-bottom: 40px;
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
			h3 {
				font-size: 29px;
				margin-bottom: 20px;
			}
			p {
				@include fluid-type($min_width, $max_width, 14px, 18px);
				color: #707070;
				line-height: 21px;
				margin-bottom: 15px;
				@media (min-width: 768px) {
					line-height: 27px;
				}
			}
		}
		&:nth-child(3n + 3) {
			@media (min-width: 768px) {
				margin-right: 0;
			}
		}
		&--two {
			.grid-item__img {
				background: url(/assets/images/photo-section-two-img.jpg);
				background-size: cover;
			}
		}
	}
	&__wrapper,
	h2 {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: 1441px) {
			margin: 0 auto;
			width: 1400px;
		}
	}
}

.section--footer {
	background: #000;
	color: white;
	padding: 0 24px;
	@media (min-width: 768px) {
		padding: 0;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;

		width: 100%;
		@media (min-width: 1441px) {
			width: 1400px;
		}
		&--one {
			padding: 40px 0;
			display: flex;
			justify-content: space-between;
		}
		&--two {
			display: block;
			padding: 30px 0 150px;
			p {
				margin-bottom: 20px;
				@media (min-width: 768px) {
					max-width: 40%;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	hr {
		width: 100%;
		left: 0;
		border-left: 0;
		border-right: 0;
		height: 1px;
		border: none;
		color: #707070;
		background-color: #707070;
		bottom: 0;
	}
}
